@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.863);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 1, 1);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
